*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #270327;
}
.container{
    width: 360px;
    height: 400px;
    background: #a377;
    position: absolute;
    top: 20%;
    left: 35%;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}
.todolist{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
    background: #ffff;
    padding: 5px;
    border-bottom: 1px solid #c96fc9;
    border-radius: 5px;
    height: 40px;
    box-shadow: 5px 5px rgba(0, 0, rgb(192, 92, 218), 0.5);
    font-weight: bold;
    flex-wrap: wrap;
    width: 325px;
}
.deletetask{
    cursor: pointer;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    background: #813981;
    outline: none;
    align-items: center;
    margin: 0;
    padding: 0;
}
.ptext{
    background: #ffffff;
    text-transform: capitalize;
}
.inputvalue{
    display: flex;
    margin: 5px;
    margin-bottom: 60px;
}
.inputval{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    margin-right: 5px;
    border: 2px solid #c96fc9;
}
.btn{
    /* padding: 5px; */
    width: 100px;
    background: rgb(164, 64, 184);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    outline-style: none;
    border-radius: 5px;
    box-shadow: 1px 1px #270327;
    cursor: pointer;
    border: none;
}
.mytodo-btn .cleartask{
    bottom: 5px;
    left: 15%;
    background: #610c61;
    color: white;
    width: 250px;
    height: 35px;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;
    outline-style: none;
    border: none;
    bottom: 0;
}
.mytodo-btn{
    width: 350px;
    align-items: center;
    justify-content: center;
    bottom: 7%;
    position: absolute;
    align-items: center;
    right: 32%;
}